<section style="display: flex;">
    <div>
        <img #inputImage src="/assets/bbt-test-img/bbt5.jpg" alt="Input Image">
        <!-- <img #inputImage src="/assets/friends-test-img/friends.jpg" alt="Input Image"> -->
        <canvas #canvas></canvas>
    </div>
    <div style="width:100%;border: 1px solid red;">
        <h1>Known faces</h1>
        <div>
            <img src="/assets/faces2/amy.jpg" width="50px" alt="Amy"> Amy
        </div>
        <div>
            <img src="/assets/faces2/bernadette.jpg" width="50px" alt="Bernadette"> Bernadette
        </div>
        <div>
            <img src="/assets/faces2/howard.jpg" width="50px" alt="Howard"> Howard
        </div>
        <div>
            <img src="/assets/faces2/leonard.jpg" width="50px" alt="Leonard"> Leonard
        </div>
        <div>
            <img src="/assets/faces2/penny.jpg" width="50px" alt="Penny"> Penny
        </div>
        <div>
            <img src="/assets/faces2/raj.jpg" width="50px" alt="Raj"> Raj
        </div>
        <div>
            <img src="/assets/faces2/sheldon.jpg" width="50px" alt="Sheldon"> Sheldon
        </div>
        <div>
            <img src="/assets/faces2/stuart.jpg" width="50px" alt="Stuart"> Stuart
        </div>
        
    </div>
</section>